<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="uygulama2.Properties.Settings.okulConnectionString"
            connectionString="Data Source=DESKTOP-9O1LVRH\SQLEXPRESS;Initial Catalog=okul;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>